/* 聊天窗口樣式 */
#chatPanel {
  position: absolute;
  top: 130px;
  left: 10px;
  width: 390px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 90;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
}

.panel-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

/* 切換按鈕 */
#toggleChatPanelBtn {
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  color: #333;
}

.chat-container {
  top: 10px;
  right: 10px;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  /* height: 60vh; */
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}

.top-bar {
  padding: 10px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-window {
  flex-grow: 1;
  overflow-y: scroll;
  height: 400px;
  max-height: 400px;
  padding: 10px;
  background-color: #fafafa;
}

.input-bar {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
}

.input-bar input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-bubble {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.user-message {
  background-color: #e0f7fa;
  align-self: flex-end;
}

.model-message {
  background-color: #e8eaf6;
  align-self: flex-start;
}

.loading {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
}